$poppins: "Poppins", sans-serif;
$quicksand: "Quicksand", sans-serif;
$roboto: "Roboto", sans-serif;
$libre: "Libre Franklin", sans-serif;
$playfair: "Playfair Display", serif;

$primary-color: black;
$secondary-color: white;
$red: red;
$blue: blue;
$yellow: yellow;
